{% load apphooks_config_tags cms_tags %}<!doctype html>
<html lang="de" prefix="op: http://media.facebook.com/op#">
  <head>
    <link rel="canonical" href="{{ base_url }}{{ article.get_absolute_url }}">
    <meta charset="utf-8">
    <meta property="op:markup_version" content="v1.0">
    <meta property="fb:article_style" content="default">
  </head>
  <body>
    <article>
      <header>
        {% if article.featured_image %}
        <figure>
          <img src="{{ base_url }}{{ article.featured_image.url }}">
        </figure>
        {% endif %}
        <h1>{{ article.title }}</h1>
        <time class="op-published" dateTime="{{ article.publishing_date|date:"c" }}">{{ article.publishing_date|date:"DATE_FORMAT" }}</time>
      </header>
      {% render_placeholder article.content %}
    </article>
  </body>
</html>
